#about{
    background: url('http://leta.artrow.net/images/background.jpg');
    color: $gray-700;
    .card{
        background: none repeat scroll 0 0 #FFFFFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
        padding: 15px 20px;
        position: relative;
        h2{
            font-size: 2rem;
            margin-bottom: 1.1rem;
        }
        .paper-clip {
            width: 60px;
            height: 85px;
            background: url('https://lh5.googleusercontent.com/-_VvJpGXP9N0/UwdDY7l-CQI/AAAAAAAABTI/xXPDe4i5lbQ/s330/paper-clip.png') repeat scroll 0% 0% transparent;
            position: absolute;
            top: -14px;
            right: -13px;
        }
    }

    .profile-about{
        .profile-wrapper,
        .about-wrapper{
            padding: 0 4rem;
        }

        .profile{
            img{
                width: 100%;
                height: 200px;
            }
        }

    }
}
