#about{
    background: url('http://leta.artrow.net/images/background.jpg');
    color: $gray-700;
    .card{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        padding: 1rem 2rem;
        position: relative;
        h2{
            font-size: 2rem;
            margin-bottom: 1.4rem;
            color: $primary;
        }
        .paper-clip {
            width: 60px;
            height: 85px;
            background: url('https://lh5.googleusercontent.com/-_VvJpGXP9N0/UwdDY7l-CQI/AAAAAAAABTI/xXPDe4i5lbQ/s330/paper-clip.png') repeat scroll 0% 0% transparent;
            position: absolute;
            top: -14px;
            right: -13px;
        }
    }

    .profile-about{
        .profile-wrapper,
        .about-wrapper{
            padding: 0 4rem;
        }

        .profile{
            img{
                width: 100%;
                height: 200px;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.9;
                margin: 0;
                display: flex;
                span{
                    display: inline-block;
                    width: 4.4rem;
                    margin-right: .5rem;
                    font-weight: 600;
                }
            }
        }

        .about{
            // background: linear-gradient(to bottom, #252423, #252525);
            .body-card-text{
                font-size: 1.1rem;
                line-height: 1.67;
                letter-spacing: 0.7px;
                padding-left: 3%;
                padding-right: 3%;
                .line{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: .5rem;
                    .line-number {
                        margin-right: 1.5rem;
                        opacity: 0.4;
                        user-select: none;
                    }
                    .line-content{
                        letter-spacing: 2px;
                        opacity: 85%;
                        mark{
                            background: transparent;
                            font-weight: 600;
                            color: $primary-hover;
                        }
                    }
                }
                .empty-line{
                    .line-number {
                        display: block;
                        user-select: none;
                    }
                    .line-number-a {
                        opacity: 0.25;
                    }

                    .line-number-b {
                        opacity: 0.2;
                    }
                }

            }
        }

    }
}
