$background: #252827;
$spacing: 50px;
$radius: 4px;
$date: 100px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;
#career{
    .card{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        padding: 1rem 2rem;
        position: relative;
        background: $background;
        h2{
            font-size: 2rem;
            margin-bottom: 1.4rem;
            color: $primary;
        }
        .edu-content {
            text-align: center;
            .timeline {
                border-left: $line solid $primary;
                border-bottom-right-radius: $radius;
                border-top-right-radius: $radius;
                background: rgba(255, 255, 255, 0.03);
                color: rgba(255, 255, 255, 0.8);
                letter-spacing: 0.5px;
                position: relative;
                line-height: 1.4em;
                font-size: 1.03em;
                padding: $spacing;
                list-style: none;
                text-align: left;
                font-weight: 100;

                h1, h2, h3 {
                 letter-spacing: 1.5px;
                 font-weight: 100;
                 font-size: 1.4em;
                }

                .event {
                  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
                  padding-bottom: ($spacing * 0.5);
                  margin-bottom: $spacing;
                  position: relative;


                  &:last-of-type {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border: none;
                  }

                  &:before, &:after {
                    position: absolute;
                    display: block;
                    top: 0;
                  }

                //   &:before {
                //     left: ((($date * 0.5) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1;
                //     color: rgba(255, 255, 255, 0.4);
                //     content: attr(data-date);
                //     text-align: right;
                //     font-weight: 100;
                //     font-size: 0.9em;
                //     min-width: $date;
                //   }

                  &:after {
                    box-shadow: 0 0 0 $dotborder $primary;
                    left: ($spacing + $line + ($dot * 0.35)) * -1;
                    background: lighten($background,5%);
                    border-radius: 50%;
                    height: $dot;
                    width: $dot;
                    content: "";
                    top: 5px;
                  }
                }
            }
        }
    }
}
