#certificates{
    color: $gray-700;
    background: url('./../assets/img/certificates.jpg') center no-repeat fixed;
    color: $gray-700;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.94);
        z-index: 1;
    }
    .container{
        position: relative;
        z-index: 2;
    }

    .certificates-wrapper{
        .filters{
            width: 100%;
            text-align: center;
            ul {
                padding: 1rem;
                // box-shadow: -1px 1px 11px rgba(0,0,0,.4);
                border-radius: 3rem;
                li {
                    display: inline-block;
                    padding: .9rem 1.8rem;
                    font-size: 1.3rem;
                    font-weight: 600;
                    cursor: pointer;
                    a{
                        color: $gray-600;
                    }
                    &:hover{
                        box-shadow: -1px 1px 11px rgba(0,0,0,.4);
                        border-radius: 15px;
                        a{
                            color: $gray-400;
                        }
                    }
                    &.active a{
                        color: $primary;
                        border: 1px solid $primary;
                        border-radius: 15px;
                        box-shadow: -1px 1px 8px 1px $primary;
                        padding: .9rem 2rem;
                    }
                }
            }
        }

        #certificates-container{
            margin: 0 auto 4rem;
            .grid-item {
                    height: 190px;
                    // overflow: hidden;
                    text-align: center;
                    width: 250px;
                    border-radius: 1.4rem;
                    padding: .5rem;

                    img{
                        border: 4px solid $primary;
                        // margin: .5rem .5rem;
                        border-radius: 1.4rem;
                        width:100%;
                        height:180px;
                        filter: url(filters.svg#grayscale);
                        filter: $gray-600;
                        -webkit-filter: grayscale(1);
                        transition: 0.9s;
                        &:hover{
                            filter: none;
                        }
                    }
                    &:hover .overlay {
                        opacity: 1;
                      }
                }
                .overlay {
                    position: absolute;
                    bottom: 0;
                    background: rgba($color: $black, $alpha: .6);
                    color: $white;
                    width: 235px;
                    margin: .2rem;
                    transition: .5s ease;
                    opacity:0;
                    color: $white;
                    font-size: 1.3rem;
                    padding: .8rem;
                    text-align: center;
                    border-radius: 0 0 1.4rem 1.4rem;
                }
        }

        .isotope-pager{
            text-align: center;
            margin-top: 1.8rem;
            a{
                margin: 0 .3rem;
                font-size: 1.3rem;
                display: inline-block;
                width: 4.2rem;
                line-height: 2;
                color: $gray-600;
                font-weight: 600;
                transition: 0.3s;
                box-shadow: -1px 1px 11px rgba(0,0,0,.1);
                border-radius: 25px;
                // background-color: #232323;
                border: .5px solid $primary;
                &:hover{
                    color: $white;
                    border: .5px solid $primary-hover;
                    box-shadow: -1px 1px 8px 1px $primary-hover;
                }
            }
            .active{
                color: $primary;
                box-shadow: -1px 1px 8px 1px $primary;
            }

            .prev{
                border-radius: 30px 0 0 30px;
            }
            .next{
                border-radius: 0 30px 30px 0;
            }

            a::before,
            a:after{
                content: "";
                position: absolute;
                border-top: 30px solid transparent;
                border-bottom: 30px solid transparent;
            }
            .num::before,
            .next::before{
                border-right: 20px solid #2c3e50;
                right: 100%;
            }

            .num:after,.prev:after{
                border-right: 20px solid #f1f1f1;
                right: 0;
            }
        }
    }
}

@media (max-width:546px){
    #certificates{
        .certificates-wrapper{
            #certificates-container{
                width: 500px;
                .grid-item {
                    height: 190px;
                    width: 180px;
                    padding: .5rem;

                    img{
                        height:180px;
                    }
                }
                .overlay {
                    width: 165px;
                }
            }
        }
    }
}



@media (max-width:406px){
    #certificates{
        .certificates-wrapper{
            #certificates-container{
                width: 500px;
                .grid-item {
                    height: 170px;
                    width: 140px;
                    padding: .5rem;

                    img{
                        height:160px;
                    }
                }
                .overlay {
                    width: 125px;
                }
            }
        }
    }
}


@media (max-width:325px){
    #certificates{
        .certificates-wrapper{
            #certificates-container{
                width: 500px;
                .grid-item {
                    height: 150px;
                    width: 190px;
                    padding: .5rem;

                    img{
                        height:140px;
                    }
                }
                .overlay {
                    width: 175px;
                }
            }
        }
    }
}


// @media (max-width:300px){
//     #certificates{
//         .certificates-wrapper{
//             #certificates-container{
//                 .grid-item {
//                     width: 250px;
//                     height: 180px;
//                 }
//             }
//         }
//     }
// }
