/**************** Footer *********/
.footer-section{
    background: #151414;
    position: relative;
    color: $gray-600;
    .footer-cta {
        border-bottom: 1px solid #373636;
        .grid-cta{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        .single-cta{
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: $primary;
                font-size: 2.5rem;
            }
            .cta-text {
                padding-left: 1.2rem;
                h2{
                    color: $white;
                    font-size: 1.5rem;
                    margin-bottom: .2rem;
                }
                span {
                    font-size: 1.2rem;
                }
            }
        }
        .single-cta.logo-contact{
            figure {
                position: relative;
                overflow: hidden;
                width: 85px;
                height: 85px;
                background-color: black;
                border-radius: 20%;
                margin: -1.4rem 0 0;
                img{
                    width: 100%;
                    height: 100%;
                }
                .contact {
                    a {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50%; height: 50%;
                        transition: all .25s ease-in-out;
                        i{
                            color: $white;
                            font-size: 1.5rem;
                        }
                    }

                    .tw {
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 172, 238, .7);
                        transform: translate(-100%, -100%);
                        &:hover {
                            background-color: rgba(0, 172, 238, 1);
                        }
                    }

                    .fb {
                        top: 0; right: 0;
                        background-color: rgba(59, 89, 152, .7);
                        transform: translate(100%, -100%);
                        &:hover{
                            background-color: rgba(59, 89, 152, 1);
                        }
                    }

                    .gp {
                    bottom: 0; left: 0;
                    background-color: rgba(221, 75, 57, .7);
                    transform: translate(-100%, 100%);
                    &:hover{
                        background-color: rgba(221, 75, 57, 1);

                    }
                    }

                    .ma {
                        bottom: 0; right: 0;
                        background-color: rgba(153, 153, 153, .7);
                        transform: translate(100%, 100%);
                        &:hover{
                            background-color: rgba(153, 153, 153, 1);
                        }
                    }

                }
                &:hover .contact a {
                    transform: translate(0, 0);
                }
            }

        }
    }

    .footer-content {
      position: relative;
        .footer-logo {
            margin-bottom: 30px;
            .heading{
                color: $primary;
            }
        }
            .footer-text{
            p {
                margin-bottom: 14px;
                font-size: 14px;
                line-height: 28px;
                }
        }
        .footer-widget-heading{
            h2{
                color: #fff;
                font-size: 1.7rem;
                margin-bottom: 3.5rem;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                    height: 2px;
                    width: 50px;
                    background: $primary;
                }
            }
        }
        .footer-widget-links{
            li {
                display: inline-block;
                float: left;
                width: 50%;
                margin-bottom: 12px;
                a{
                    text-transform: capitalize;
                    color: $gray-600;
                    &:hover{
                        color: $primary-hover;
                    }
                }
            }
        }
    }







    .copyright-area{
      background: #202020;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #ff5e14;
    }
    .footer-menu li {
      display: inline-block;
      margin-left: 20px;
    }
    .footer-menu li:hover a{
      color: #ff5e14;
    }
    .footer-menu li a {
      font-size: 14px;
      color: #878787;
    }


}
