/* learn Section
--------------------------------*/
#learn {
    background-color: #f9f9f9;
    .learn-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem 1.3rem ;
        .learn-card{
           box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
           border-top: 3px solid $primary;
           .learn-logo {
            padding: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background: #fff;
            height: 180px;
            &:hover img{
                transform: scale(1.2);
            }
            img {
                transition: all 0.4s ease-in-out;
            }
          }
          a.learn-link{
              font-size: 1.23rem;
              font-weight: 600;
            i {
                font-size: 1.2rem;
                padding-left: .3rem;
            }
         }
        }
    }
}


@media (max-width: 1024px){
    #learn {
        .learn-grid {
            grid-template-columns: repeat(4, 1fr);
            .learn-card{
              a.learn-link{
                font-size: 1.15rem;
              i {
                  font-size: 1.15rem;
                }
              }
            }
        }
    }
}

@media (max-width: 998px){
    #learn {
        .learn-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


@media (max-width: 768px){
    #learn {
        .learn-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 498px){
    #learn {
        .learn-grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem 1rem ;
            padding: 0 3rem;
            .learn-card{
               .learn-logo {
                padding: 0;
                height: 180px;
                &:hover img{
                    transform: scale(1.1);
                }
                img{
                    height: 100%;
                };
              }
            }
        }
    }
}


