.background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#hero{
    position: relative;
    overflow: hidden;
    color: $white;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: #0c0808;
        opacity: 0.6;
    }
    .contents{
        padding: 10rem 2rem 0;
        .heading{
            font-size: 8rem;
            letter-spacing: .4rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        .sub-heading{
            font-size: 3rem;
        }
        // .hero-btn{
        //     margin: 2rem 0;
        //     text-transform: capitalize;
        //     color: #fff;
        //     background-color: $primary;
        //     box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
        //     transition: all .2s ease-in-out;
        //     &:hover{
        //         background-color: darken($color: $primary, $amount: 10);
        //     }
        // }
        .social-icon{
            li{
                display: inline-block;
                a{
                    color: $gray-800;
                    background: $white;
                    width: 3rem;
                    height: 3rem;
                    line-height: 38px;
                    display: block;
                    text-align: center;
                    border-radius: 100%;
                    font-size: 1.3rem;
                    margin: 1.1rem .5rem 1rem .5rem;
                    transition: all 0.3s ease-in-out 0s;
                    &:hover{
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
        }
    }
}
