#skills{
    // background: #3498db;
    background: url('./../assets/img/skills.jpg') center top no-repeat fixed;
    color: $gray-700;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.94);
        z-index: 1;
    }
    .container{
        position: relative;
        z-index: 2;
    }
    .skillswrapper{
        text-align: center;
        .heading{
            font-size: 2rem;
            color: $primary;
        }
        .soft-skills{
            display: flex;
            flex-direction: column;
            align-items: center;
            .soft-skills-wrapper{
                // transform: rotate(315deg);
                margin-top: 4rem;
                .h-boxes{
                    display: flex;
                    &:first-child{
                        .box:first-child{
                            background-color: $primary;
                            span {
                                i {
                                    color: $white;
                                    font-size:2.3rem ;
                                }
                            }
                        }
                    }
                    .box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 85px;
                        height: 85px;
                        background-color: #dedede;
                        margin-right: 4px;
                        margin-bottom: 4px;
                        &:last-child{
                            margin-right: 0;
                        }
                        span{
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                            transform: rotate(45deg);
                        }
                        .box-text{
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .technical-skills{
            #skillCanvasContainer {
                display:flex;
                #skillCanvas {
                margin: auto;
                }
            }
        }


    }
}

@media (max-width:998px){
    #skills{
        .skillswrapper{
            .soft-skills{
                margin-bottom: 4rem;
            }
            .technical-skills{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }
    }
}


@media (max-width:578px){
    #skills{
        .skillswrapper{
            .soft-skills{
                width: 90%;
                margin: 0 auto 4rem;
                .soft-skills-wrapper{
                    .h-boxes{
                        display: flex;
                        .box{
                            width: 75px;
                            height: 75px;
                            .box-text{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .technical-skills{
                #skillCanvasContainer {
                    #skillCanvas {
                    width: 100%;
                    }
                }
            }

        }
    }
}
