// Button Styles
.btn {
    font-size: 1.25rem;
    padding: .7rem 2rem;
    border-radius: 0px;
    cursor: pointer;
    font-family: $headings-font-family;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common{
    background-color: $primary;
    &:hover{
      color: #fff;
      background: $red-hover;
      box-shadow:  0 6px 22px rgba(0,0,0,0.1);
      transition: all .2s ease-in-out;
    }
}
.btn-large{
    width: 100%;
}
.btn-border{
    border: 2px solid $primary;
    background-color: none;
    color: $primary;
    padding: .7rem .7rem;
    &:hover{
        border: none;
        background-color: $primary;
        color: $white;
        transition: all .2s ease-in-out;
    }
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    background: $primary;
    transition: display 0.5s ease-in-out;
    z-index: 4;
    i {
        font-size: 24px;
        position: absolute;
        top: .5rem;
        left: 1rem;
        color: #fff;
      }

    &:hover {
        color: #fff;
        background: $primary-hover;
        transition: background 0.2s ease-in-out;
    }
  }

