// Button Styles
.btn {
    font-size: 1.25rem;
    padding: .7rem 2rem;
    border-radius: 0px;
    cursor: pointer;
    font-family: $headings-font-family;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}
