// Button Styles
.btn {
    font-size: 1.25rem;
    padding: .7rem 2rem;
    border-radius: 0px;
    cursor: pointer;
    font-family: $headings-font-family;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}


.btn-common{
    background-color: $primary;
    &:hover{
      color: #fff;
      background: $red-hover;
      box-shadow:  0 6px 22px rgba(0,0,0,0.1);
      transition: all .2s ease-in-out;
    }
}
