// Global styling for this template
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body {
    overflow-x: hidden;
    font-family: $font-family-base;
}

h1,
h2,
h3,
h4 {
  font-size: 3rem;
  font-weight: 700;
  font-family: $headings-font-family;
}

a {
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.75;
}

ul, ol {
  list-style: outside none none;
}

ul li, ol li {
  list-style: none;
}

.page-section {
    padding: 6rem 0;
    h2.section-heading {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h3.section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: $headings-font-family;
        margin-bottom: 4rem;
    }
}

.script-font {
  font-family: $font-family-script;
}

// Highlight color customization

::-moz-selection {
    background: $primary;
    text-shadow: none;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
