@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

// Override Bootstrap typography variables
$font-family-base: 'Raleway', sans-serif;

$headings-font-family: 'Lato', sans-serif;

$font-family-script:

'Courgette', cursive;
//'Rochester', cursive;

//'Marck Script', cursive;

//'Alex Brush', cursive;

//'Kaushan Script', cursive;

$headings-font-weight: 700;
$headings-letter-spacing: 0.0625em;

